<div class="container-fluid">
  <ng-template #recursiveList let-list>
    <mat-list-item
      class="dndPlaceholder border bg-opacity-25 mb-1"
      dndPlaceholderRef
    />

    @for (item of list; track item.id) {
      <div
        [dndDraggable]="item"
        dndEffectAllowed="move"
        (dndMoved)="onDragged(item, list, 'move')"
        [class.mb-3]="!item.children"
      >
        <mat-list-item class="border ms-n3" [class.selected]="isSelected(item)">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.content }}</span>
          <div matListItemMeta>
            <mat-icon
              [style.pointer-events]="'all'"
              (click)="onSelect($event, item)"
            >
              edit
            </mat-icon>
          </div>
        </mat-list-item>

        @if (item.children) {
          <mat-list
            (dndDrop)="onDrop($event, item.children)"
            dndDropzone
            dndEffectAllowed="move"
            class="d-flex flex-column bg-light pt-3 pb-0 ps-3"
          >
            <ng-container
              *ngTemplateOutlet="
                recursiveList;
                context: { $implicit: item.children }
              "
            />
          </mat-list>
        }
      </div>
    }
  </ng-template>

  <div class="row">
    <div class="col-6">
      <mat-list
        (dndDrop)="onDrop($event, draggableList)"
        dndDropzone
        dndEffectAllowed="move"
        class="d-flex flex-column bg-light gap-1 p-3 border rounded-3"
      >
        <ng-container
          *ngTemplateOutlet="
            recursiveList;
            context: { $implicit: draggableList }
          "
        />
      </mat-list>
    </div>

    <div class="col-6 d-flex flex-column">
      @if (selectedItem) {
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="selectedItem.content" />
        </mat-form-field>
        <mat-form-field class="mt-2">
          <mat-label>Icon</mat-label>
          <input matInput [(ngModel)]="selectedItem.icon" />
        </mat-form-field>
      }
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-4">
      <button (click)="addFolders()" mat-raised-button>Add Folders</button>
      <button class="ms-2" (click)="addFiles()" mat-raised-button>
        Add Files
      </button>
    </div>
  </div>
</div>
