<div class="container-fluid">
  <ng-template #recursiveList let-list>
    <mat-list-item
      class="dndPlaceholder border bg-opacity-25 mb-1"
      dndPlaceholderRef
    />

    @for (item of list; track $index) {
      <div
        [dndDraggable]="item"
        dndEffectAllowed="move"
        (dndMoved)="onDragged(item, list, 'move')"
      >
        <mat-list-item class="border ms-n3">
          <mat-icon matListItemIcon>folder</mat-icon>
          <span matListItemTitle>{{ item.content }}</span>
        </mat-list-item>

        @if (item.children) {
          <mat-list
            (dndDrop)="onDrop($event, item.children)"
            dndDropzone
            dndEffectAllowed="move"
            class="d-flex flex-column pt-2 pb-0 ps-2"
          >
            <ng-container
              *ngTemplateOutlet="
                recursiveList;
                context: { $implicit: item.children }
              "
            />
          </mat-list>
        }
      </div>
    }
  </ng-template>

  <div class="row">
    <div class="col-12 col-lg-4">
      <mat-list
        (dndDrop)="onDrop($event, draggableList)"
        dndDropzone
        dndEffectAllowed="move"
        class="d-flex flex-column gap-1 p-3 border rounded-3"
      >
        <ng-container
          *ngTemplateOutlet="
            recursiveList;
            context: { $implicit: draggableList }
          "
        />
      </mat-list>
    </div>
  </div>
</div>
